body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: : #ffffff;
  text-transform: none;
}

a {
  text-decoration: none;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.2;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #283136;

  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #283136;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #f87f81;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.services-list {
  list-style: none;
}

.services-item {
  text-align: center;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.about-us {
  color: #283136;
  background-color: #ffffff;
}

.column-column-left {
  font-size: 45px;
  line-height: 45px;
}

.worktype-list {
  font-weight: bold;
}

.worktype-list-items {
  list-style: none;
}

.table-title {
  font-weight: bold;
}

.value {
  font-size: 45px;
  line-height: 10, 06px;
}

.percent {
  font-size: 22.5px;
  line-height: 24px;
  font-weight: bold;
  vertical-align: super;
}

.clients-list {
  list-style: none;
}

.slider-item a {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff6666;
}

.slider-item a:hover {
  background-color: #ff3333;
}

.slider-item a:active {
  color: #cc6666;
  background-color: #cc3333;
}

.button-red {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ff6666;
}

.button-red:hover {
  background-color: #ff3333;
}


.button-red:active {
  color: #cc6666;
  background-color: #cc3333;
}

.button-green {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #00cc66;
}

.button-green:hover {
  background-color: rgb(0, 188, 108);
}


.button-green:active {
  color: #66cc99;
  background-color: #009966;
}

.button-yellow {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ffcc33;
}

.button-yellow:hover {
  background-color: rgb(234, 181, 52);
}


.button-yellow:active {
  color: #ffcc66;
  background-color: #cc9933;
}

.clients-item {
  opacity: 0.2;
}

.clients-item:hover {
  opacity: 1.0;
}

.clients-item:active {
  opacity: 0.1;
}

.social {
  list-style: none;
}

.social-button {
  background-color: #cccccc;
}

.button {
	font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ff6666;
  border: none;
}

.button:hover {
  background-color: #ff3333;
}


.button:active {
  color: #cc6666;
  background-color: #cc3333;
}


.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
}
