body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  text-transform: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Логотип */

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.2;
}

/* Навигация */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #283136;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #283136;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #f87f81;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
  border-bottom: 2px solid red;
  /* не правильно-переделай смотри стайлгайд */
  /* opacity */
}

/* Главная страница */

/* Слайдер */

.slider {
  background-color: #eeeeee;
}

.slider-item a {

  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding: 16px 55px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

.slider-item a:hover,
.slider-item a:focus {
  background-color: #e74246;
}

.slider-item a:active {
  color: #e37376;
  background-color: #d7373b;
}

/* Услуги */

.services-list {
  list-style: none;
  padding: 0px;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.button {
  display: inline-block;
  padding: 16px 40px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 2px;
}

.button-red {
  color: #ffffff;
  background-color: #ff6666;
  text-transform: uppercase;
}

.button-red-1{
  display: inline-block;
  padding: 16px 44px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 2px;
  color: #ffffff;
  background-color: #ff6666;
  text-transform: uppercase;
}

.button-red-1:hover,
.button-red-1:focus {
  background-color: #ff3333;
}

.button-red-1:active {
  color: #cc6666;
  /* opacity */
  background-color: #cc3333;
}

.button-red:hover,
.button-red:focus {
  background-color: #ff3333;
}

.button-red:active {
  color: #cc6666;
  /* opacity */
  background-color: #cc3333;
}

.button-green {
  color: #ffffff;
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  color: #38bd84;
  background-color: #00aa62;
}

.button-yellow {
  color: #ffffff;
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yelliw:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color: #e9b341;
  background-color: #e5a722;
}

/* О нас */

.about-us {
  color: #283136;
  background-color: #ffffff;
}

.column-column-left {
  font-size: 45px;
  line-height: 45px;
}

.worktype-list {
  font-weight: bold;
  text-transform: uppercase;
}

.worktype-list-items {
  margin-top: 12px;
  list-style: none;
  line-height: 3em;
  padding: 0;
}

.worktype-list-items li {

}

.column-right {
  margin-top: 40px;
}

.table-title {
  font-weight: bold;
}

.value {
  font-weight: bold;
  font-size: 45px;
  line-height: 10, 06px;
}

.table sup {
  top: -16px;
  font-size: 22.5px
}

/* Наши клиенты*/

.clients-list {
  list-style: none;
  padding-left: 16px;
}

.clients-item {
  opacity: 0.2;
}

.clients-item:hover,
.clients-item:focus {
  opacity: 1.0;
}

.clients-item:active {
  opacity: 0.1;
}

/* Контакты  */

.contacts {
  color: #666666;
}

/* Социальные сети */

.social {
  list-style: none;
}

.social-button {
  background-color: #cccccc;
}

/* Попап */

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
}

.write-us label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.write-us input,
.write-us textarea {
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.write-us input:hover,
.write-us textarea:hover {
  border: 2px solid #b4b9bb;
}

.write-us input:focus,
.write-us textarea:focus {
  border: 2px solid #000000;
  outline: 0;
}

.write-us input:invalid,
.write-us textarea:invalid {
  border-color: #e74246;
}

.modal-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ff6666;
  border: none;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #ff3333;
}

.modal-button:active {
  color: #cc6666;
  background-color: #cc3333;
}

/* Каталог */

/* фильтры */

.price {
  list-style: none;
  border: none;
}

.grid {
  border: none;
}

.filter-option {
  list-style: none;
}

.filter-option li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.features {
  border: none;
}

.sorting {
  border: none;
}

.list-sorting li {
  margin-right: 27px;
  opacity: 0.3;
  text-transform: uppercase;
}

.list-sorting li:hover,
.list-sorting li:focus {
  opacity: 0.6;
}

.list-sorting li:active {
  opacity: 1;
}

.sorting span {
  margin-left: 139px;
  margin-top: 14px;
  letter-spacing: -0.7px;
}

/* Товары */

.catalog-list {
  list-style: none;
  margin-left: 140px;
  margin-top: 40px;
  padding: 0px;
  margin-bottom: 37px;
}

.catalog-list h3 a {
  color: #283136;
}

.catalog-list .catalog-item::before {
  content: "";
  display: block;
  padding-left: 13px;
  height: 40px;
  font-size: 22px;
  text-align: left;
  line-height: 42px;
  color: #ffffff;
  background-image: url("../img/browser.svg");
  border-radius: 5px 5px 0 0;
  opacity: 0.2;
}

.catalog-list .catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover .catalog-item-info {
  display: block;
}

.catalog-item {
  position: relative;
}
.catalog-item-info {
  display: none;
  position: absolute;
  left: 0px;
  top: 386px;
  width: 100%;
  padding: 20px 0px 62px;
  background-color: #eeeeee;
  text-align: center;
}

.catalog-item-title {
  margin-left: auto; 
  margin-right: auto;
  width: 190px;
}

.catalog-list li:nth-child(2) p {
  width: 230px;
}

.catalog-list li:nth-child(5) p {
  width: 230px;
}

.catalog-list li:nth-child(6) p {
  width: 230px;
}

.catalog-list h3 {
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-title {
  line-height: 1.2;
  margin-top: 13px;
  margin-bottom: 44px;
}

.catalog-list p {
  color: #000000;
}

.catalog-item-price {
  margin: 40px auto;
  padding: 16px 62px;
  width: 200px;
  border-radius: 3px;
}

.pagination-list {
  list-style: none;
  margin-bottom: 76px;
  margin-left: 101px;
}

.pagination-list a {
  color: #283136;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  vertical-align: bottom;
  text-align: center;
  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-item a span:last-child {
  vertical-align: middle;
  padding-left: 57px;
  padding-right: 57px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: #a9a9a9;
  background-color: #d5d5d5;
}

/* Сеточные стили */

/* Главная */

html,
body {
  min-width: 1440px;
  min-height: 2470px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.main-header {
  width: 100%;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0px;
  padding-top: 52px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px 5px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  width: 440px
}

.user-navigation {
  display: flex;
  max-width: 115px;
}

.user-navigation .basket-link {
  position: relative;
  padding-left: 40px;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.slider {
  position: relative;
  margin-bottom: 65px;
}

.slider-item h3 {
  margin-top: 0px;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  max-width: 600px;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-controls i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

.slider-controls i::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-item {
  display: none;
  padding: 65px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: 93% 5px;
}

.slider-item:nth-child(2) {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.services {
  display: flex;
  margin-bottom: 65px;
}

.services-item h3 {
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 16px;
}

.services-item p {
  font: inherit;
  margin-bottom: 33px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  width: 1100px;
}

.services-item {
  width: 300px;
}

.services-item p{
  width: 250px;
}

.about-us {
  margin: 0;
  padding: 0;
  width: 1160px;
  display: flex;
  margin-bottom:80px;
  justify-content: space-between;
  border-top: 2px solid #eeeeee;
  margin-bottom: 46px;
}

.column-left {
  margin-top: 71px;
  width: 660px;
}

.column-left li {
  position: relative;
  padding-left: 36px;
}

.column-left li::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 1px;
  width: 50px;
  height: 10px;
  background-image: url("../img/layer.png");
  background-repeat: no-repeat;
}

.column-left p {
  margin-bottom: 39px;
  margin-top: 32px;
}

.column-right {
  width: 360px;
}

.value:nth-child(2) {
  padding-left: 8px;
  padding-right: 24px;
}

.field:nth-child(2) {
  padding-left: 8px;
}

.table-title {
  text-transform: uppercase;
  padding-top: 28px;
  padding-bottom: 48px;
}

.field {
  padding-top: 26px;
  line-height: 1.2;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 25px;
  justify-content: space-around;
  margin-bottom: 80px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.clients-list li {
  position: relative;

}

.clients-list li:nth-child(-n+3)::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 10px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}


.clients-item {
  width: 260px;
}

.clients-list li:nth-child(2) {
  position: relative;
  top: -12px;
  left: 12px;
}

.clients-list li:nth-child(3) {
  position: relative;
  top: 6px;
  left: 35px;
}

.clients-list li:nth-child(4) {
  position: relative;
  top: -6px;
  left: 55px;
}

.social {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  padding-top: 72px;
  padding-left: 57px;
  padding-right: 20px;
  padding-bottom: 70px;
  width: 1200px;
  }

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 260px;
  list-style: none;
}

.social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-item a:hover,
.social-item a:focus {
  background-color: #e74246;
}

.social-item a:active {
  background-color: #d7373b;
}

.social-item a:active path {
  fill: #e37376;
}

.promo {
  margin-left: 140px;
  line-height: 2.7;
}

.promo p{
  margin: 0;
}

.promo p:first-child {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  display: flex;
  margin-top: 64px;
  padding-bottom: 111px;
  justify-content: center;
  background-color: #eeeeee;
  min-height:
}

.location {
  position: relative;
  background-image: url(../img/map.jpg);
  min-height: 416px;
  padding-top: 54px;
  box-sizing: border-box;
  background-position-y: -150px;
}

.contacts {
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 48px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 45px;
  width: 319px;
  box-sizing: border-box;
}

.contacts span {
  color: #666666;
}

.studio-name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.address-1 {
  line-height: 1.1;
  margin-top: 24px;
  margin-bottom: 0px;
}

.address-2 {
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 38px;
}

.write-us {
  display: flex;
  justify-content: space-between;
  width: 760px;
  flex-wrap: wrap;
}

.write-us-item {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.write-us-item-textarea {
  display: flex;
  flex-direction: column;
  width: 760px;
}

/* Inner page */

.catalog-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  width: 1200px;
  box-sizing: border-box;
}

.filters {
  flex-direction: flex-start;
  position: relative;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-option .filter-item label {
  position: relative;
  padding-left: 30px;
  opacity: 0.6;
}

.filter-option .filter-item label:hover,
.filter-option .filter-item label:focus {
 opacity: 1;
}

.filter-option {
  margin: 0px;
  padding: 0px;
}

.filter-form fieldset {
padding: 0px;
margin-top: 0;
margin-right: 0;
margin-left: 0;
margin-bottom: 13px;
text-align: left;
}

.filter-item label::before {
  content: "";
  position: absolute;
  left: -4px;
  top: 0px;
  width: 25px;
  height: 25px;
}

.filter-item input[type="radio"]+label::before {
  background-image: url(../img/radio-off.svg);
}

.filter-item input[type="radio"]:checked+label::before {
  background-image: url(../img/radio-on.svg);
}

.filter-item input[type="radio"]:disabled+label::before {
  opacity: 0.3;
}

.filter-item input[type="radio"]:disabled+label {
  opacity: 0.3;
}

.filter-item input[type="checkbox"]+label::before {
  background-image: url(../img/checkbox-on.svg);
  width: 27px;
  height: 23px;
}

.filter-item input[type="checkbox"]:checked+label::before {
  background-image: url(../img/checkbox-off.svg);
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
}

.filter-item input[type="checkbox"]:disabled+label::before {
  opacity: 0.3;
}

.filter-item input[type="checkbox"]:disabled+label {
  opacity: 0.3;
}

.filter-item input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 37px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.sorting {
  display: flex;
  justify-content: space-between;
}

.sorting a {
  color: #283136;
}

.list-sorting {
  display: flex;
  list-style: none;
  width: 360px;
}

.list-sorting li {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
}

.list-sorting li .icon-down::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 18px;
  width: 50px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.list-sorting li .icon-up::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 18px;
  width: 50px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.list-sorting li .icon-down {
  font-size: 0;
}

.list-sorting li .icon-up {
  font-size: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  margin-right: 40px;
  margin-bottom: 27px;
  width: 360px;
}


.catalog-item:hover {
  box-shadow: 0 0 15px 6px rgba(0, 1, 1, 0.25);
  border-radius: 6px;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.pagination-list {
  list-style: none;
  display: flex;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-list a {
  padding: 15px 21px;
  background-color: #eeeeee;
  color: #000000;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 400;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #eeeeee;
  padding: 13px 19px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 445px;
  padding: 90px 80px;
  padding-top: 55px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
  z-index: 500;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
 animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 75px;
  right: 90px;
  width: 23px;
  height: 23px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background: none;
}

.modal-close:hover.modal-close::before {
  opacity: 1;
}

.modal-close:hover.modal-close::after {
  opacity: 1;
}

.modal-close:active.modal-close::before {
  opacity: 0.1;
}

.modal-close:active.modal-close::after {
  opacity: 0.1;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -2px;
  width: 27px;
  height: 3px;
  background-color: #fb565a;
  opacity: 0.3;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback-flex-message {
  width: 760px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.modal h2 {
  margin: 0;
  margin-bottom: 22px;
  margin-top: 11px;
  margin-left: 19px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.user-form {
  width: 760px;
  margin-left: 20px;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
}

.message-form {
  width: 760px;
  display: flex;
  flex-direction: column;
  margin-bottom: 46px;
  margin-left: 20px;
}

.modal label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
}

.modal input {
  width: 341px;
  height: 46px;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  margin-right: 40px;
  padding-left: 16px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  line-height: 18px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.modal input:first-child {
  margin-left: 20px;
}

.modal textarea {
  width: 739px;
  height: 106px;
  margin-top: 9px;
  padding-left: 15px;
  padding-top: 7px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  resize: none;
}

.modal input:hover {
  border: 2px solid #b4b9bb;
}

.modal textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal input:focus {
  border: 2px solid #000000;
  outline: none;
  color: #444444;
}

.modal textarea:focus {
  border: 2px solid #000000;
  outline: none;
  color: #444444;
}

.modal input:invalid:not(:placeholder-shown) {
  border: 2px solid #e74246;
  color: red;
}

.modal input:invalid:not(:placeholder-shown) {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.5;
}

.modal textarea::placeholder {
  padding-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.5;
}

.modal .button {
  width: 260px;
  border: 0;
  font-weight: normal;
  margin-left: 21px;
}

.button-submit {
  margin-top: 22px;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 15px; 
  width: 260px;
  line-height: 18px;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.button-submit:hover {
  background-color: #dfdfdf;
}

.button-submit:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  outline: none;
}

.price legend {
  font-size: 19px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 17px;

}

.grid legend {
  font-size: 19px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
}

.features legend {
  font-size: 19px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 17px;
}

.sorting span {
  font-size: 19px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
