body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: : #ffffff;
  text-transform: none;
}

a {
  text-decoration: none;
}






/* Логотип */

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.2;
}






/* Навигация */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #283136;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #283136;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #f87f81;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
  border-bottom: 1px solid red;
}





/* Главная страница */


/* Слайдер */

.slider {
  background-color: #eeeeee;
}

.slider-item a {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff6666;
}

.slider-item a:hover,
.slider-item a:focus {
  background-color: #ff3333;
}

.slider-item a:active {
  color: #cc6666;
  background-color: #cc3333;
}






/* Услуги */

.services-list {
  list-style: none;
}

.services-item {
  text-align: center;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.button-red {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ff6666;
}

.button-red:hover,
.button-red:focus {
  background-color: #ff3333;
}


.button-red:active {
  color: #cc6666;
  background-color: #cc3333;
}

.button-green {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #00cc66;
}

.button-green:hover,
.button-green:focus {
  background-color: rgb(0, 188, 108);
}


.button-green:active {
  color: #66cc99;
  background-color: #009966;
}

.button-yellow {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ffcc33;
}

.button-yellow:hover,
.button-yelliw:focus {
  background-color: rgb(234, 181, 52);
}


.button-yellow:active {
  color: #ffcc66;
  background-color: #cc9933;
}






/* О нас */

.about-us {
  color: #283136;
  background-color: #ffffff;
}

.column-column-left {
  font-size: 45px;
  line-height: 45px;
}

.worktype-list {
  font-weight: bold;
}

.worktype-list-items {
  list-style: none;
}

.table-title {
  font-weight: bold;
}

.value {
  font-size: 45px;
  line-height: 10, 06px;
}

.percent {
  font-size: 22.5px;
  line-height: 24px;
  font-weight: bold;
  vertical-align: super;
}






/* Наши клиенты*/

.clients-list {
  list-style: none;
}

.clients-item {
  opacity: 0.2;
}

.clients-item:hover,
.clients-item:focus {
  opacity: 1.0;
}

.clients-item:active {
  opacity: 0.1;
}



/* Контакты  */

.contacts {
  color: #666666;
}



/* Социальные сети */

.social {
  list-style: none;
}

.social-button {
  background-color: #cccccc;
}



/* Попап */

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
}

.write-us label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.write-us input,
.write-us textarea {
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.write-us input:hover,
.write-us textarea:hover {
  border: 2px solid #b4b9bb;
}

.write-us input:focus,
.write-us textarea:focus {
  border: 2px solid #000000;
  outline: 0;
}

.write-us input:invalid,
.write-us textarea:invalid {
  border-color: #e74246;
}

.modal-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ff6666;
  border: none;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #ff3333;
}


.modal-button:active {
  color: #cc6666;
  background-color: #cc3333;
}



/* Каталог */


/* фильтры */

.price {
  list-style: none;
  border: none;
}

.grid {
  border: none;
}


.filter-option {
  list-style: none;
}

.features {
  border: none;
}

.sorting {
  border: none;
}

.options,
.more-less {
  list-style: none;
}

.options a,
.more-less a {
  color: #283136;
}



/* Товары */

.catalog-list {
  list-style: none;
}

.catalog-list a {
  color: #283136;
}



 с ценой что-то пошло не так, она растянулась на всю страницу
.catalog-item-price {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: bottom;
  text-transform: uppercase;

  background-color: #ff6666;
}

.catalog-item-price p:hover,
.catalog-item-price :focus {
  background-color: #ff3333;
}


.catalog-item-price a:active {
  color: #cc6666;
  background-color: #cc3333;
}


.pagination-list {
  list-style: none;
}

.pagination-list a {
  color: #283136;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  vertical-align: bottom;
  text-align: center;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}


.pagination-item a:active {
  color: #a9a9a9;
  background-color: #d5d5d5;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
}



/* Сеточные стили */

.vissually-hidden {
  display: none;
}

/* Главная */

html,
body {
  min-width: 1440px;
  min-height: 2470px;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  width: 1200px;
}





}

.main-header {
  margin-bottom: 0px;
  background-color: #000000;
}

.main-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 35px;
  padding-top: 52px;
  padding-left: 140px;
  padding-right: 140px;
  width: 1200px;

}


.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 440px
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 160px;
}

.slider-list {
  list-style: none;
      margin-bottom: 0px;
    margin-top: 0px;
}

.slider {
  margin-bottom: 80px;
}
.slider-item h2{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 55px;
  line-height: 55px;
}

.services{
  display: flex;
  margin-bottom: 80px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  width: 1100px;
}

.services-item {
  width: 300px;
}

.about-us {
  margin: 0;
  padding: 0;
  width: 1160px;
  display: flex;
  margin-bottom:: 80px;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  margin-bottom: 80px;
}

.column-left {
  width: 660px;
}

.column-right {
  width: 360px;
}

.clients-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  margin-bottom: 80px;
}

.clients-item {
  width: 260px;
}

.social {
  display: flex;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 70px;
  width: 1160px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 260px;
  list-style: none;
}

.social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: #eeeeee;
  min-height:
}

.location {
  position: relative;
  background-image: url(../img/map.jpg);
  min-height: 416px;
  padding-top: 54px;
  box-sizing: border-box;
}

.contacts {
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px;
  width: 319px;
  box-sizing: border-box;
  /* learn box sizing */
  
}

.studio-name {
  font-weight: bold;
  text-transform: uppercase;

}





/* Inner page */

.catalog-container {
 display: flex;
 justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  width: 1200px;
  box-sizing: border-box;
}

.filters {
  flex-direction: flex-start;
}

.sorting {
display: flex;
justify-content: space-between;

}

.sorting a{
 color: #283136;  
}

.list-sorting {
  display: flex;
  list-style: none;
}

.catalog-list{
 display: flex;
flex-wrap: wrap;
}

.catalog-item {
  margin-right: 40px;
  width: 360px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
}

.pagination-item {
  margin-right: 10px;
}


